h1{
    text-align: center;
    color:black;
    text-shadow: 3px 1px 2px red;
    background: rgb(122,62,156);
background: radial-gradient(circle, rgba(122,62,156,0.787500205160189) 0%, rgba(102,61,162,1) 11%, rgba(31,56,185,0.40934894465598737) 50%, rgba(180,29,60,0.5073881603422619) 100%);
}
.cajas{
    background-image: url('imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 150px 350px;
    background-attachment: fixed;
}
table{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.22447499507615543) 100%);
    background-position: center;
    padding: 10px 35px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: white;
    text-shadow: 3px 1px 2px black;
}
.alineacion{
    height: 100px;
    width: 100px;
}
body{
    padding: 0;
    margin: 0cm;
    border:0cm;
    background-image: url('imagenes/cancion1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#cajas{
    margin: 0 10cm;
    text-align: center;
    border-radius: 2cm;
    font-size: 20px;
    font-weight: 900;
    color:aliceblue;
    text-shadow: 3px 1px 2px black;
    background: rgb(195,34,186);
    background: linear-gradient(0deg, rgba(195,34,186,0.42615566734506305) 16%, rgba(180,243,71,0.21327051328343838) 91%, rgba(210,253,45,0.44856463093049714) 100%);
    border: 10px solid black
}

